html{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body {
   
    background-image:  url("https://img.freepik.com/vector-premium/pago-estilo-plano-concepto-facturas-servicios-publicos-ilustracion-vectorial-facturas-servicios-publicos-ahorro-recursos_657802-78.jpg"); 
    }

    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 

    }
  
     /*QUITAR LAS FLECHAS DE NUMEROS*/
        
    header{
      text-align: left;
      background: #0cb4ae;
      color: rgb(255, 255, 255);
      padding: 5px ;

    }
    h2{
      text-align: center;
    }

    h4{
      text-align: center;
      font-size: 15px;
      background:#0cb4ae;
      color: rgb(0, 0, 0);
      padding: 10px ;
      margin:2%;
    }
   .princi{
    background-position:top;
    background-size: 100%;

   }
   .card{
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
   }

   .cardFront{
    align-self: start;
   max-width: 85%;
    order: 2;
    margin-top: -4rem;
    z-index: 1;
    position: relative;

   }
.cardfront_data{
    position: absolute;
    inset: 0;
    color:white;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content:space-between;
    padding:5rem;
   
    
}

   .card-name-date{
    text-transform: uppercase;
    width: 100%;
    font-size: .80rem;
   }

   .cardBack{
align-self: end;
max-width: 85%;
order: 1;
position: relative;
   }

   .cardback_data{
    position: absolute;
    top: 0; /*APAREZCA EN LA PARTE DE ARRIBA*/
    inset: 0;
    color:white;
    display: flex;
    align-items: center;
    justify-content:end;
    padding-right: 12%;
    padding-bottom: .5rem;
    font-size: 100%;
    
    

   }
.form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  padding-top: 0;

}
.form-group{
  display: flex;
  flex-direction: column;

}
label{
  display: block;
  padding: 7px;
  border-radius: 7px;
  cursor: pointer;

}
button{
  background-color: #0cb4ae;
  width: 150px;
  margin:auto;
    padding: 10px;
    color: #fff;
  
    border-radius: 20px;
    cursor: pointer;
    font-size: 15px;
  }
  button:hover{
    transform: scale(1.05);
  }
  .input {
    border: 1px solid var(#000000);
    padding: .75rem;
    border-radius: .5rem;
}
section{
  text-align: center;
  border: 2px solid #020202; /*color de margen*/
 padding: 10px;
  border-radius: 10px; 
  font-size: 18px;

}
footer{
  font-size: 13px;
}

@media screen and (min-width:800px){
  .princi{
    background-position: left;
    
    background-size: auto 100%;
    display:grid;
    grid-template-columns: 1fr 1fr;
    
  }

  
} 
  
